/*//Navigaton*/
.navbar .mega-dropdown .dropdown-menu.mega-menu {
    width: 100%;
}
.section1 {
    background: url("../../../nicolas/assets/images/ecco1.jpg");
    margin: 0px;
    padding: 170px 0px 315px 0px;
    color: #ffffff;
    /*background-image: url(/images/2018/04/24/parallax.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.section2 {
    background: url("../../../nicolas/assets/images/ecco2.jpg");
    margin: 0px;
    padding: 170px 0px 315px 0px;
    color: #ffffff;
    /*background-image: url(/images/2018/04/24/parallax.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.section3 {
    background: url("../../../nicolas/assets/images/ecco3.jpg");
    margin: 0px;
    padding: 170px 0px 315px 0px;
    color: #ffffff;
    /*background-image: url(/images/2018/04/24/parallax.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.section4 {
    background: url("../../../nicolas/assets/images/ecco4.jpg");
    margin: 0px;
    padding: 170px 0px 315px 0px;
    color: #ffffff;
    /*background-image: url(/images/2018/04/24/parallax.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.sticker .new{
    position: absolute;
    background: #1eca5a;
    border-radius: 20px;
    z-index: 1;

}
.sticker.new {
    background: #2ed04c;
    z-index: 1;

}
.sticker {
    border-radius: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    padding: 4px 13px;
    font-size: 14px;
    color: #fff;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px #ccc;
    z-index: 1;

}
.sticker.sale {
    background: #ff6472
}
.padding-0 {
    padding-left:0px !important; ;
    padding-right:0px !important; ;
}
.caption-hero {
    position: absolute;
    height: 100%;
    top: 0;
    left: 8%;
    background-color: #363944;
    opacity: .8;
}
.light-color {
    color: #fff;
}
.caption-hero-2 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 8%;
    /*background-color: #363944;*/
    /*opacity: .8;*/
}
.caption-hero-3 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 8%;
    background-color: #193462;
    opacity: .8;
}


.text-box-1 {
    left: 20px;
    width: 500px;
}
.text-box-2 {
    right: 20px;
    width: 500px;
}
body {
    overflow-x: hidden;
}

/*bottons*/
/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 20px 70px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1e */
.btn-1e {
    overflow: hidden;
    border: 2px solid #fff !important;
    color: #fff !important;

}

.btn-1e:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #d11e26;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
    color: #0e83cd;
}

.btn-1e:hover:after {
    height: 260%;
    opacity: 1;
}

.btn-1e:active:after {
    height: 400%;
    opacity: 1;
}
.fill-data {
    padding: 25px;
}
.shipment-box {
    /*border:1px dashed #b5b5b5;*/
}
/**
 * Form control
 */
.form-control {
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.2);
}
.form-control:focus {
    box-shadow: 0 1px 5px -2px #42A5F5;
    border-bottom: 1px solid #2196F3;
}
.form-group label {
    color: #616161;
}
.input-group-addon {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 0;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #4CAF50;
}
.has-success .form-control {
    border-color: #4CAF50;
}
.has-success .form-control:focus {
    border-color: #3d8b40;
    box-shadow: 0 1px 5px -2px #C8E6C9;
}
.has-success .input-group-addon {
    color: #4CAF50;
    border-color: #4CAF50;
    background-color: #C8E6C9;
}
.has-success .form-control-feedback {
    color: #4CAF50;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
    color: #FF9800;
}
.has-warning .form-control {
    border-color: #FF9800;
}
.has-warning .form-control:focus {
    border-color: #cc7a00;
    box-shadow: 0 1px 5px -2px #FFE0B2;
}
.has-warning .input-group-addon {
    color: #FF9800;
    border-color: #FF9800;
    background-color: #FFE0B2;
}
.has-warning .form-control-feedback {
    color: #FF9800;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #F44336;
}
.has-error .form-control {
    border-color: #F44336;
}
.has-error .form-control:focus {
    border-color: #ea1c0d;
    box-shadow: 0 1px 5px -2px #FFCDD2;
}
.has-error .input-group-addon {
    color: #F44336;
    border-color: #F44336;
    background-color: #FFCDD2;
}
.has-error .form-control-feedback {
    color: #F44336;
}
.user-icon {
    font-size: 20px;
    /*color: rgba(255,255,255,0.8);*/
}
.basket-icon {
    font-size: 20px;
}
.card-product {
    max-width: 100% !important;
}
.dropdown-content {
    opacity: 1 !important;
    display: inline !important;
}
.width-25 {

}
.misc .control-group .control {
    height: 38px;
    /*width: 25% !important;*/
    width: 60px !important;
    text-align: center;
    line-height: 38px;
    border: 1px solid #ced4da;
    border-radius: .25rem;}
.checkout-step-heading {
    color: #202020;
    padding: 15px;
}
.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.contact-section .contact {
    background-color: #c42d2d!important;
}
.contact-section .contact .fas, .contact-section .contact .fab, .contact-section .contact .far {
    color: #fff !important;
}
.about-us-text {
    line-height: 30px;
}
.footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
}
.aside-product{
    background-color: #f2f2f2;
    border-bottom: 1px solid #cccccc;
}
.product-title{
    border-bottom: 1px solid #cccccc;
}
.size-tab .nav-item a {
    color: #000 !important;
    background-color: transparent !important;
}
.size-icon {
    width: 36px;
    height: 36px;
    line-height: 34px;
    margin: 0 0 .8em 0;
    margin-right: .8em;
    padding: 0 5px;
    background-color: #fff;
    border: 1px solid #bcbcbc;
    font-size: 1em;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
}
.size-area {
    border-bottom: 1px solid #cccccc;
}
.basket-link {
    color: #000 !important;
}
.navbar-main  {
    background-color: rgba(215,199,163,0.57) !important;
}
.btn-xs {
    padding: 3px 6px !important;
}
.main-text {
   color: rgba(215,199,163,0.57) !important;
}
#button {
    display: inline-block;
    background-color: #e9dfcb;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
/*#button::after {*/
/*    !*content: ">";*!*/
/*    !*font-family: FontAwesome;*!*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-size: 2em;*/
/*    line-height: 50px;*/
/*    color: #fff;*/
/*}*/
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}
